@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    var cultureCookie = HttpContextAccessor.HttpContext.Request.Cookies[CookieRequestCultureProvider.DefaultCookieName];
    var currentCulture = cultureCookie != null
        ? CookieRequestCultureProvider.ParseCookieValue(cultureCookie).UICultures.FirstOrDefault().Value
        : "en"; // Default to English if the cookie is not set
}

<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @currentCulture
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" asp-controller="Home" asp-action="SetLanguage" asp-route-culture="en" asp-route-returnUrl="@HttpContextAccessor.HttpContext.Request.Path" method="post">English</a>
        <a class="dropdown-item" asp-controller="Home" asp-action="SetLanguage" asp-route-culture="pl" asp-route-returnUrl="@HttpContextAccessor.HttpContext.Request.Path" method="post">Polski</a>
    </div>
</div>
