@using System.Security.Principal
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="btn-group py-2 ms-lg-2" role="group">
@if (User.Identity?.IsAuthenticated == true)
{
        <div class="btn btn-outline-primary disabled">@Localizer["Hello"] @User.Identity?.Name</div>
        <a class="btn btn-primary" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">@Localizer["Logout"]</a>
}
else
{
        <a class="btn btn-primary" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">@Localizer["Logout"]</a>
}
</div>
