@using System.Security.Principal

<ul class="navbar-nav">
@if (User.Identity?.IsAuthenticated == true)
{
        <span class="navbar-text text-dark p-2">Witaj @User.Identity?.Name</span>
        <li class="nav-item">
            <a class="btn btn-primary" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Wyloguj</a>
        </li>
}
else
{
        <li class="nav-item">
            <a class="btn btn-primary" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Zaloguj</a>
        </li>
}
</ul>
