@{
  ViewData["Title"] = "Help";
}
@section Styles {
    <style>
        .container {
            background-color: #fff;
        }

        .table-1 td, .table-2 td {
            padding-bottom: 1.2rem;
            font-size: 0.7rem;
            font-weight: 600;
        }

        .list-group .list-group-item {
            border: 0 none;
        }

        .list-group-item {
            padding: 0 0 .1rem 1rem;
        }

        .list-group-item span {
            display: inline-block;
            float: right;
            padding-right: 1rem;
        }

        .list-group-item p {
            margin-bottom: .5rem;
            margin-left: 1.6rem;
            line-height: 1.2rem;
            font-style: italic;
            font-weight: 400;
            font-size: 1rem;
        }
    </style>
}

<div class="container my-1">
    <h1>Specyfikacja wymagań systemowych - wzór</h1>

    <table class="table-1 table-bordered my-3 w-100">
        <tr class="align-top">
            <td>Nr zespołu:</td>
            <td>Opiekun/Kierownik</td>
        </tr>
        <tr>
            <td colspan="2">Nazwa projektu:</td>
        </tr>
    </table>
    <table class="table-2 mb-3 table-bordered w-100">
        <tr class="align-top">
            <td class="pb-0">
                Nazwa dokumentu:<br />
                <h4>Specyfikacja wymagań systemowych</h4>
            </td>
            <td class="pb-0">Nr wersji:</td>
        </tr>
        <tr class="align-top">
            <td>Odpowiedzialny za dokument:</td>
            <td>Data ostatniej aktualizacji:</td>
        </tr>
        <tr class="align-top fw-bold">
            <td>Przeznaczenie:</td>
            <td>Data pierwszego sporządzenia:</td>
        </tr>
    </table>
    <div class="w-mb-3">
        <h4>Historia dokumentu</h4>
        <table class="table-bordered w-100">
            <thead>
                <tr class="text-center">
                    <th scope="col">Wersja</th>
                    <th scope="col">Opis modyfikacji</th>
                    <th scope="col">Rozdział / strona</th>
                    <th scope="col">Autor modyfikacji</th>
                    <th scope="col">Data</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p><i>Specyfikacja wymagań systemowych formalizuje wymagania klienta. Powinna być sformułowana w wyniku negocjacji zespołu projektowego z klientem. </i></p>

    <div class="mb-3">
    <h4>Spis Treści</h4>
    <ul class="list-group list-group-numbered">
        <li class="list-group-item border-bottom">Wprowadzenie <span class="">3</span></li>
        <li class="list-group-item">
            Źródła wymagań <span class="">4</span>
            <ul class="list-group ml-4 list-group-numbered">
                <li class="list-group-item border-bottom border-top">Interesariusze projektu <span class="">4</span></li>
                <li class="list-group-item border-bottom">Źródła nieosobowe <span class="">6</span></li>
            </ul>
        </li>
        <li class="list-group-item">Cele systemu <span class="">6</span>
            <ul class="list-group ml-4 list-group-numbered">
                <li class="list-group-item border-bottom border-top">Cele biznesowe <span class="">6</span></li>
                <li class="list-group-item border-bottom">Cele funkcjonalne <span class="">7</span></li>
            </ul>
        </li>
        <li class="list-group-item">Otoczenie systemu <span class="">7</span>
        <ul class="list-group ml-4 list-group-numbered">
            <li class="list-group-item border-bottom border-top">Użytkownicy <span class="">8</span></li>
            <li class="list-group-item border-bottom">Systemy zewnętrzne <span class="">8</span></li>
        </ul>
        </li>
        <li class="list-group-item">Przewidywane komponenty systemu <span class="">9</span>
        <ul class="list-group ml-4 list-group-numbered">
            <li class="list-group-item border-bottom border-top">Podsystemy <span class="">9</span></li>
            <li class="list-group-item border-bottom">Komponenty sprzętowe <span class="">10</span></li>
            <li class="list-group-item border-bottom">Komponenty programowe <span class="">10</span></li>
        </ul>
        </li>
        <li class="list-group-item border-bottom">Wymagania funkcjonalne <span class="">10</span></li>
        <li class="list-group-item border-bottom">Wymagania na dane <span class="">11</span></li>
        <li class="list-group-item">Wymagania jakościowe <span class="">11</span>
        <ul class="list-group ml-4 list-group-numbered">
            <li class="list-group-item border-bottom border-top">Wymagania w zakresie wiarygodności <span class="">12</span></li>
            <li class="list-group-item border-bottom">Wymagania w zakresie wydajności <span class="">12</span></li>
            <li class="list-group-item border-bottom">Wymagania w zakresie elastyczności <span class="">12</span></li>
            <li class="list-group-item border-bottom">Wymagania w zakresie użyteczności <span class="">12</span></li>
        </ul>
        </li>
        <li class="list-group-item">Sytuacje wyjątkowe <span class="">13</span>
        <ul class="list-group ml-4 list-group-numbered">
            <li class="list-group-item border-bottom">Sytuacje nadzwyczajne <span class="">13</span></li>
            <li class="list-group-item border-bottom">Sytuacje krytyczne <span class="">13</span></li>
            <li class="list-group-item border-bottom">Sytuacje awaryjne <span class="">14</span></li>
        </ul>
        </li>
        <li class="list-group-item">Dodatkowe wymagania <span class="">14</span>
        <ul class="list-group ml-4 list-group-numbered">
            <li class="list-group-item border-bottom border-top">Wymagania sprzętowe <span class="">14</span></li>
            <li class="list-group-item border-bottom">Wymagania programowe <span class="">14</span></li>
            <li class="list-group-item border-bottom">Inne wymagania <span class="">15</span></li>
        </ul>
        </li>
        <li class="list-group-item border-bottom">Kryteria akceptacyjne <span class="">15</span></li>
        <li class="list-group-item border-bottom">Słownik <span class="">15</span></li>
        <li class="list-group-item border-bottom">Załączniki <span class="">15</span></li>
    </ul>
    </div>
    <div class="content">
        <ul class="list-group list-group-numbered">
            <li class="list-group-item fw-bold h4">
                Wprowadzenie
                <p class="fw-normal">Tu się podaje krótkie wprowadzenie: co to jest za projekt, na czym polega, jaka jest jego główna idea.</p>
            </li>
            <li class="list-group-item fw-bold h4">
                Źródła wymagań
                <p>
                    W tym rozdziale identyfikuje się źródła wymagań. Jest to potrzebne, aby zorientować się, skąd pozyskiwać wymagania do projektu.</p>
                <p>
                    Źródła wymagań mogą być osobowe i nieosobowe. Źródła osobowe to tzw. interesariusze, czyli wszystkie osoby (prawne lub fizyczne) lub grupy osób, które są zainteresowane realizacją projektu. Osoby prawne (instytucje) i grupy osób mogą mieć za reprezentantów osoby fizyczne.</p>
                <p>
                    Źródła nieosobowe to akty prawne (ustawy, rozporządzenia, regulaminy etc.), standardy (normy ustalone i opublikowane przez jakąś organizację lub konwencje – nieformalne, ale powszechnie stosowane) lub dokumentacja (np. specyfikacja API innego systemu).</p>
                <p>
                    Do interesariuszy zalicza się klienta (zleceniodawcę), jego przedstawiciela, grupy użytkowników, a także inne organizacje i instytucje związane z projektem (np. organa administracji państwowej lub samorządowej), o ile są bezpośrednio związane z projektem (np. przez jego finansowanie i rozliczanie). Również można do listy interesariuszy dopisać zespół projektowy lub kierownictwo organizacji wytwarzającej, o ile będą oni formułować dodatkowe wymagania.<br />
                <p>
                    Po wypełnieniu tego punktu każde wymaganie musi mieć swoje źródło. Jeśli w trakcie uzupełniania wymagań okaże się, że jego źródło nie zostało wymienione na liście, to można je dopisać.</p>
                <p>
                    Po zakończeniu specyfikowania wymagań trzeba sprawdzić, czy każde zidentyfikowane źródło wymagań podało jakieś wymagania (przynajmniej jedno). Brak przypisanego wymagania może oznaczać, że zaniedbano pozyskania wymagań z tego źródła. Wymagania przypisane do reprezentanta instytucji lub grupy traktuje się tak, jakby pośrednio były przypisane do tej instytucji lub grupy.</p>
                <p>
                    Każde źródło wymagań musi mieć określony priorytet (w skali 5 punktowej). Może on służyć do określania priorytetów wymagań przypisanych do tego źródła, do rozwiązywania ewentualnych konfliktów między wymaganiami oraz do określania kolejności realizacji wymagań. Nie ma reguł określających ścisłą zależność między priorytetem źródła a priorytetem wymagania – decyzje trzeba podejmować indywidualnie dla każdego wymagania.</p>
                <ul class="list-group list-group-numbered">
                    <li class="list-group-item h5">Interesariusze  projektu
                        <p>
                            Tu identyfikuje się wszystkie osoby (fizyczne i prawne), które są zainteresowane realizacją projektu bezpośrednio lub pośrednio.</p>
                        <p>
                            Trzeba odróżnić nazwę interesariusza od nazwiska osoby. Nazwą interesariusza powinna być jego rola w projekcie. Nazwą w przypadku osoby prawnej może być jej skrócona nazwa (a pełną nazwę podaje się w osobnym polu). Jeśli w projekcie wystąpi kilku deweloperów, to wówczas można ich identyfikować po imieniu i nazwisku.</p>
                        <p>
                            Wyróżnia się trzy typy interesariuszy: instytucje (osoby prawne), osoby fizyczne i grupy osób. Osoby fizyczne muszą podać kontakt (najlepiej adres email lub telefon). Ta informacja może być wykorzystywana dla wyjaśnienia pewnych szczegółów już po zamknięciu specyfikacji wymagań. Dla instytucji powinno się podać adres pocztowy do oficjalnej korespondencji.</p>
                        <p>
                            Osoby prawne muszą mieć określonego reprezentanta (osobę fizyczną) – najlepiej jednego, ale może być ich kilku. Grupy osób też mogą mieć jednego lub kilku reprezentantów. Osoba fizyczna raczej nie będzie miała reprezentanta, chociaż nie jest to wykluczone.</p>
                        <p>
                            Jeśli instytucja lub grupa ma jednego reprezentanta, to może on być po prostu wymieniony w rekordzie tej instytucji lub grupy. Jeśli jest ich kilku, to każdy powinien być wymieniony w osobnym rekordzie. Wówczas w rekordzie instytucji reprezentowanej (lub grupy) podaje się listę referencji, każdą w postaci REFID_#### nazwa reprezentanta.</p>
                        <p>
                            Grupy muszą mieć określony sposób pozyskiwania wymagań (jeden lub kilka). Do tych sposobów należą m.in: rozmowy, spotkania (podać formę spotkań), ankietowanie, obserwacja, serwisy internetowe (wymienić adresy), portale społecznościowe (wymienić adresy), inne (określić jakie) Te informacje można uzupełnić później. Można wytypować jedną osobę z zespołu do reprezentowania wymagań grupy użytkowników. Osoba ta jest wówczas odpowiedzialna za pozyskiwanie wymagań od grupy.
                        </p>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>