@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card p-3">
                Home
            </div>
            <div class="card p-3">
                <a href="https://support.microsoft.com/en-us/office/view-live-transcription-in-microsoft-teams-meetings-dc1a8f23-2e20-4684-885e-2152e06a4a8b">
                    View live transcription in Microsoft Teams meetings
                </a>
            </div>
        </div>
    </div>
</div>

@section Scripts {

} 